<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>오기요</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/category.css" />
    <script src="/js/search.js" defer></script>
  </head>

  <body>
    <%- include('includes/header') %>
    <main>
      <input type="hidden" id="searchString" value="<%= searchString %>" />

      <section class="search wrap">
        <div class="search-container">
          <input type="text" placeholder="검색어를 입력해주세요." />
          <button>검색</button>
        </div>
      </section>
      <section class="category wrap">
        <ul class="store-list" id="searchResults"></ul>
      </section>
    </main>
    <%- include('includes/footer') %>
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      let indexSearchString = '<%= searchString %>';
      let indexSearchStringByCategoryId = '<%= searchStringByCategoryId%>';
      const searchButton = document.querySelector('button');
      let searchInput = document.querySelector('input[type="text"]');
      let searchResults = document.querySelector('.store-list');

      const searchStores = async () => {
        if (indexSearchStringByCategoryId === '') {
          // indexSearchString이 비어있으면 searchInput의 값을 사용
          let searchString = indexSearchString ? indexSearchString : searchInput.value.trim();

          if (searchString === '') {
            alert('검색어를 입력하세요.');
            return;
          }

          try {
            const response = await fetch(
              `/api/stores/search?searchString=${encodeURIComponent(searchString)}`,
            );

            const data = await response.json();

            if (data.stores && data.stores.length > 0) {
              const storesHTML = data.stores
                .map(
                  (store) => `
                  <li>
                    <a href="/detail/${store.id}">
                      <img src="${store.imageUrl}" alt="" />
                      <div>
                        <div class="store-title">${store.storeName}</div>
                        <div class="store-rating">
                          <i class="fa fa-star" aria-hidden="true"></i> ${store.rating}
                        </div>
                        <div class="store-review">리뷰 (<span>${store.reviewCount}</span>)</div>
                      </div>
                    </a>
                  </li>
                `,
                )
                .join('');

              searchResults.innerHTML = storesHTML;

              indexSearchString = '';
            } else {
              searchResults.innerHTML = '<li><p>검색 결과가 없습니다.</p></li>';

              indexSearchString = '';
            }
          } catch (error) {
            console.error('Error while searching:', error);
            alert('검색에 실패하였습니다.');
          }
        } else if (indexSearchStringByCategoryId !== '') {
          let categoryId = indexSearchStringByCategoryId;

          try {
            const response = await fetch(`/api/stores/categories/${categoryId}`);

            const data = await response.json();

            if (data.stores && data.stores.length > 0) {
              const storesHTML = data.stores
                .map(
                  (store) => `
                  <li>
                    <a href="/detail/${store.id}">
                      <img src="${store.imageUrl}" alt="" />
                      <div>
                        <div class="store-title">${store.storeName}</div>
                        <div class="store-rating">
                          <i class="fa fa-star" aria-hidden="true"></i> ${store.rating}
                        </div>
                        <div class="store-review">리뷰 (<span>${store.reviewCount}</span>)</div>
                      </div>
                    </a>
                  </li>
                `,
                )
                .join('');

              searchResults.innerHTML = storesHTML;

              indexSearchStringByCategoryId = '';
            } else {
              searchResults.innerHTML = '<li><p>검색 결과가 없습니다.</p></li>';
              indexSearchStringByCategoryId = '';
            }
          } catch (error) {
            console.error('Error while searching:', error);
            alert('검색에 실패하였습니다.');
          }
        }
      };

      // 페이지 로드 시 searchStores 함수 실행
      searchStores();

      // 검색 버튼 클릭 시 searchStores 함수 실행
      searchButton.addEventListener('click', searchStores);
    });
  </script>
</html>
